data
filtered_dataset.csv
random_forest_model.pkl

__pycache__/
*.pyc   
logs/
notebooks/
.env
.vscode/
mental_health_data/
tfidf_vectorizer.pkl
.ipynb_checkpoints/
build/
data/
models/
*.pkl
*.h5
*.bin
distilbert_optimized_runs

*.log
distilbert_run
artifacts/